// HOVER STUFFER:
// https://codepen.io/sdthornton/pen/wBZdXq

@mixin default-card {
  color: #fff;
  border: none;
  background-color: $dark-blue;
  margin-bottom: 16px;
  &:hover {
    color: $dark-blue;
    background-color: #fff;
  }
  &:active {
    color: $dark-blue;
    background-color: #fff;
  }
  &:focus {
    color: $dark-blue;
    background-color: #fff;
  }
}

@mixin default-card-header {
  background-color: $dark-blue;
  color: white;
}

@mixin default-card-body {
  background-color: white;
  color: $dark-blue;
  padding: 0.5rem;
}

@mixin small-card {
  @include default-card;
  width: 30%;
  margin: 5px;
}
@mixin large-card {
  @include default-card;
  width: 100%;
  margin: 5px;
}


// ---- Resources  ------
.resources-card {
  @include small-card;
  background-color: $primary-color;
  color: $dark-blue;
  margin-bottom: 3.75rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.resource-footer {
  height: 15%;
  background-color: $primary-color;
}

.resource-cats {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  background-color: $primary-color;
}

.cat-label {
  margin-left: 5%;
  margin-right: auto;
}

.res-card-block {
  padding: 0px;
}

.res-title {
  text-align: center;
  background-color: $dark-grey;
  color: $primary-color;
}

.res-card-block {
  padding: 0;
}

.res-card-block > p {
  padding-left: 10px;
}

// ---- MODULES  ------
.modules-card {
  @include small-card;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.modules-card:active {
    color: #34495e;
    background-color: $dark-blue !important;
}

.modules-card:hover {
    color: #34495e;
    background-color: $dark-blue !important;
}

.all-modules-card {
  @include large-card;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.modules-card-header {
  @include default-card-header;
}

.modules-card-body {
  @include default-card-body;
}

.student-card {
  width: 40%
}

.last-student-card {
  width: 80%
}

.checkpoint-cardblock {
  padding-bottom: 0;
  margin-bottom: -32px;
}
