.tags-parent {
  position: relative;

}

.tags-container {
  position: fixed;
  left: 4%;
  height: auto;
  top: 20%;
}

.tags-container > h4 {
  text-align: center;
}

.tags-container > ul > li {
  list-style: none;
}
