$font-headers: 'Varela Round', sans-serif;
$font-content: 'Lato', sans-serif;
$primary-color: white;
$dark-grey: #333333;
$dark-blue: #34495e;
$logo-blue: #3E7697;
$light-blue: #5097C2;
$logo-green: #216340;
$light-background: #EFEEE8;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers
}

.image-test {
  display: block;
  height: 20%;
  width: auto;
}

.back-link {
  color: white;
  text-decoration: none;
}

.back-link:hover {
  color: white;
  text-decoration: underline;
  font-size: 20px;
}

.card-subtitle {

}


.text-muted {
  color: white;
}

p {
  font-family: $font-content
}

.cstm-row {
  background-color: $light-blue;
}

// .my-nav-brand {
//   background-image: url('./public/images/regular-logo.gif')
// }

body {
  background-color: $light-background;
}

.my-dropdown-menu {
  background-color: $light-background;
}

.my-dropdown-menu > a:hover {
  color: red;
}

.previewer-content {
  background-color: white;
}

.my-primary-btn {
    color: #fff;
    background-color: $dark-blue;
    border-color: $dark-grey;
    margin-bottom: 16px;
}

.my-primary-btn:hover, .my-primary-btn:focus, .my-primary-btn:active {
    color: $dark-grey;
    background-color: white;
    border-color: $logo-green;
}

.previewer-content > p {
  color: red;
}

.previewer-content > p {
  background-color: white;
}


.navbar {
  background-color: $logo-blue;
  margin-bottom: 16px;
  border-radius: 0;
}

.nav-item > a {
  color: $dark-grey;
  margin-right: 90px;
}

.nav-item > a:focus {
    color: #014c8c;
    text-decoration: none;
}

.nav-item > a:hover {
    color: white;
    text-decoration: none;
}

.nav-dd-btn {
  position: absolute;
  right: 10px;
  top: 3px;
  margin-bottom: 10px;
  margin-top: 0;
}

.nav-btn {
  background-color: $light-background;
  color: $dark-blue;
  border: solid 3px $logo-green;
}

.main-card-block {
  background-color: $logo-green;
  color: white;
}

.active {
  color: white !important;
  border-bottom: medium solid white;
  font-size: 18px;
  text-decoration: none;
}

.dash-btn {
  margin: 5px;
}

.dashboard-progress-container {
  height: 10%;
  background-color: $logo-green;
  color: white;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 15px;
}

.student-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.student-card {
  width: 40%
}

#one {
  height: 100px;
  background-color: red;
  width: 100%;
  position: relative;
}

#two {
  height: 50px;
  background-color: blue;
  width: 400px;
  position: absolute;
  left: 30px;
  top: 70px;
  border: 3px solid #73AD21;
}

#three {
  height: 50px;
  background-color: blue;
  width: 400px;
  position: absolute;
  right: 30px;
  top: 70px;
  border: 3px solid #73AD21;
}