$font-stack:    Helvetica, sans-serif;
$primary-color: white;

body {
  font: 100% $font-stack;
}

.active {
  color: red;
}

.dashboard-progress {
  position: relative;
  top: 0;
  color: orange;
  height: 10%;
}

.something {
  color: orange;
}