.modules-card {
  @include small-card;
}

.modules-card-header {
  @include default-card-header;
}

.one-module-card {
  margin-left: 10%;
}

.center-it {
  text-align: center;
  margin-top: 8%;
}

.center-it a {
  color: black;
  font-size: 2em;
  &:hover{
    border-bottom: 1px solid black;
  }
}

.new-cp {
  background-color: $logo-green;
  color: white !important;
}

.module-row {
  margin-top: 3%;
}

.center-it h4 strong{
  font-size: 3rem;
}

// .center-it p {
//   position: absolute;
//   top: 0;
//   left: 10%;
// }
