.my-navbar {
  background-color: $dark-grey;
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-nav {
  position: absolute;
  top:0;
  right: 0;
  margin-right: 5%;
}

.my-nav-box {
  position: relative;
}


.active-nav {
  color: black !important;
  text-decoration: none;
  border-bottom: 2px solid white;
  // text-shadow: 2px 2px $dark-grey;
}

.navbar-nav .nav-link, .navbar-brand {
  color: $primary-color !important;
}

// .navbar-brand {
//   background: url(img_flwr.gif);
//   background-size: 80px 60px;
//   background-repeat: no-repeat;
// }

.navbar-brand>img {
  width: 81px;
  height: auto;
}

// .navbar-nav .nav-item {
//   float: right;
// }




//
// .nav-item > a:focus {
//     color: #014c8c;
//     text-decoration: none;
// }
//
// .nav-item > a:hover {
//     color: white;
//     text-decoration: none;
// }
//
// .nav-dd-btn {
//   position: absolute;
//   right: 10px;
//   top: 3px;
//   margin-bottom: 10px;
//   margin-top: 0;
// }
