.student-page-container {
  margin-top: 5%;
}

.resources-nav {
  text-align: center;
}

.resources-nav ul {
  float: left;
  margin-left: 10%;
}
.resources-nav li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  font-size: 26px;

}
