.student-page-container {
  margin-top: 5%;
}

.user-container {
  margin-top: 8%;
}

.resources-nav {
  text-align: center;
}

.resources-nav ul {
  float: left;
  margin-left: 10%;
}
.resources-nav li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  font-size: 26px;
  cursor: pointer;

  &:hover {
    background-color: $dark-blue;
    color: white;
  }

}

.activeResLink {
  background-color: $dark-blue;
  color: white;
}

.submissions-container{
  margin-top: 8%;
}

.activeResLink {
  background-color: $dark-blue;
  color: white;
}

.resources-nav ul li.activeResLink {

  background-color: #EFEEE8;
  color: $dark-blue;
  border-bottom: solid 1px $dark-blue;
}

.resources-nav ul li {
  cursor: pointer;
  &:hover {
    background-color: #EFEEE8;
    color: $dark-blue;
    border-bottom: solid 1px $dark-blue;
  }


}


@media (max-width: 1000px) {
  .cats-container {
    display: none;
  }
}
.cats-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  background-color: $primary-color;
  color: $dark-grey;
  margin-bottom: 3.75rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.cats-container ul li span {
  color: $dark-grey;
  margin-bottom: 10px;
  &:hover {
    border-bottom: 1px solid white;
  }
}

.cats-container ul li{
  color: $dark-grey;
  border-bottom: 1px solid black;
}

.cats-container ul li a{
  color: $dark-grey;
  line-height: 200%;
}

.cats-container ul {
  text-align: left;
  list-style: none;
  padding: 0.5rem;
}

.cats-container ul p strong {
  color: $dark-grey;
  text-align: center;
  font-size: 1.5rem;
}

.cats-container ul p {
  text-align: center;
}

.cats-container h3 {
  padding: 0.5rem;
  background-color: $primary-color;
  color: $dark-grey;
  text-align: center;
}

.user-screen-container {
  padding: 10% 24%;
}
